<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class= "col-xs-6 col-s-3">
                <a href="">
                    <img src=""/>
                </a>
            </div>
            <div class="col-xs-6 col-s-3">
                <a href="">
                    <img src="" />
                </a>
            </div>
            <div class= "col-xs-6 col-s-3">
                <a href="">
                    <img src=""/>
                </a>
            </div>
            <div class="col-xs-6 col-s-3">
                <a href="">
                    <img src="" />
                </a>
            </div>
        </div>
    </div>

    
</body>
</html>
